.section-skills{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: #161616;




    .skills{
        display: flex;
        justify-content: flex-start;


        .number{
            h1{
                font-family: 'Roboto Mono', monospace;
                color:#4BFFA5 ;
            }
        }
        .text{
            width: 100%;
            margin-left: 110px;
            
            
            
            h1{
                color: #fff;
                font-family: 'Roboto Mono', monospace;
            }

            span{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 30px;


                .icon{
                    width: 1rem;
                    color: #4BFFA5;
                    margin-top: 60px;
                }
                p{
                    width: 71%;
                    margin-top: 55px;
                    margin-left: 17px;
                    color: #989898;                   
                    font-family: 'Space Grotesk', sans-serif;
                    line-height: 1;
                    
                    .main-text{
                       color: #fff;
                       font-size: 15px;
                       font-family: 'Space Grotesk', sans-serif;
                       line-height: 1.6;
                    }
                    .sentence{
                       width: 139%;
                    }                          
                }
            }
            .bar{
                display: flex;
                margin-top: 20px;

                .barname{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 140px;
                    height: 35px;
                    display: flex;
                    overflow: hidden;
                    line-height: 0;
                    font-size: .75rem;
                    background-color: #237747;

                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 14px;
                    color: #fff;
                }

                .percentage{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 35px;
                    display: flex;
                    overflow: hidden;
                    line-height: 0;
                    font-size: .75rem;
                    background-color: #e9ecef;

                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 13px;
                    color: #676767;
                }
                .progress{
                    width: 65%;
                    height: 35px;
                    border-radius: 0rem;

                    .progress-bar{
                        background-color: #43D77E;
                        animation: 0.3s linear infinite progress-bar-stripes;
                    }
                }
            }
        }
    }
}


// ...............................................
// ...............................................
// ...............................................
// ...............................................
// ...............................................
// ...............................................
// ...............................................



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section-skills{
        width: 100%;
        height: 800px;
        display: flex;
        background-color: #161616;
    
    
    
    
        .skills{
            display: flex;
            justify-content: flex-start;
    
    
            .number{
                h1{
                    font-size: 21px;
                    font-family: 'Roboto Mono', monospace;
                    color:#4BFFA5 ;
                }
            }
            .text{
                width: 100%;
                margin-left: 30px;
                
                
                
                h1{
                    font-size: 21px;
                    color: #fff;
                    font-family: 'Roboto Mono', monospace;
                }
    
                span{
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 30px;
    
    
                    .icon{
                        width: 1rem;
                        color: #4BFFA5;
                        margin-top: 60px;
                    }
                    p{
                        width: 71%;
                        margin-top: 55px;
                        margin-left: 17px;
                        color: #989898;                   
                        font-family: 'Space Grotesk', sans-serif;
                        line-height: 1;
                        
                        .main-text{
                           color: #fff;
                           font-size: 14px;
                           font-family: 'Space Grotesk', sans-serif;
                           line-height: 1.6;
                        }
                        .sentence{
                           width: 139%;
                        }                          
                    }
                }
                .bar{
                    display: flex;
                    margin-top: 20px;
    
                    .barname{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 140px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #237747;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 14px;
                        color: #fff;
                    }
    
                    .percentage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #e9ecef;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 13px;
                        color: #676767;
                    }
                    .progress{
                        width: 65%;
                        height: 35px;
                        border-radius: 0rem;
    
                        .progress-bar{
                            background-color: #43D77E;
                            animation: 0.3s linear infinite progress-bar-stripes;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section-skills{
        width: 100%;
        height: 700px;
        display: flex;
        background-color: #161616;
    
    
    
    
        .skills{
            display: flex;
            justify-content: flex-start;
    
    
            .number{
                h1{
                    font-family: 'Roboto Mono', monospace;
                    color:#4BFFA5 ;
                }
            }
            .text{
                width: 100%;
                margin-left: 20px;
                
                
                
                h1{
                    color: #fff;
                    font-family: 'Roboto Mono', monospace;
                }
    
                span{
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 30px;
    
    
                    .icon{
                        width: 1rem;
                        color: #4BFFA5;
                        margin-top: 60px;
                    }
                    p{
                        width: 71%;
                        margin-top: 55px;
                        margin-left: 17px;
                        color: #989898;                   
                        font-family: 'Space Grotesk', sans-serif;
                        line-height: 1;
                        
                        .main-text{
                           color: #fff;
                           font-size: 15px;
                           font-family: 'Space Grotesk', sans-serif;
                           line-height: 1.6;
                        }
                        .sentence{
                           width: 139%;
                        }                          
                    }
                }
                .bar{
                    display: flex;
                    margin-top: 20px;
    
                    .barname{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 140px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #237747;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 14px;
                        color: #fff;
                    }
    
                    .percentage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #e9ecef;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 13px;
                        color: #676767;
                    }
                    .progress{
                        width: 65%;
                        height: 35px;
                        border-radius: 0rem;
    
                        .progress-bar{
                            background-color: #43D77E;
                            animation: 0.3s linear infinite progress-bar-stripes;
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section-skills{
        width: 100%;
        height: 700px;
        display: flex;
        background-color: #161616;
    
    
    
    
        .skills{
            display: flex;
            justify-content: flex-start;
    
    
            .number{
                h1{
                    font-family: 'Roboto Mono', monospace;
                    color:#4BFFA5 ;
                }
            }
            .text{
                width: 100%;
                margin-left: 20px;
                
                
                
                h1{
                    color: #fff;
                    font-family: 'Roboto Mono', monospace;
                }
    
                span{
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 30px;
    
    
                    .icon{
                        width: 1rem;
                        color: #4BFFA5;
                        margin-top: 60px;
                    }
                    p{
                        width: 71%;
                        margin-top: 55px;
                        margin-left: 17px;
                        color: #989898;                   
                        font-family: 'Space Grotesk', sans-serif;
                        line-height: 1;
                        
                        .main-text{
                           color: #fff;
                           font-size: 15px;
                           font-family: 'Space Grotesk', sans-serif;
                           line-height: 1.6;
                        }
                        .sentence{
                           width: 139%;
                        }                          
                    }
                }
                .bar{
                    display: flex;
                    margin-top: 20px;
    
                    .barname{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 140px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #237747;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 14px;
                        color: #fff;
                    }
    
                    .percentage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #e9ecef;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 13px;
                        color: #676767;
                    }
                    .progress{
                        width: 65%;
                        height: 35px;
                        border-radius: 0rem;
    
                        .progress-bar{
                            background-color: #43D77E;
                            animation: 0.3s linear infinite progress-bar-stripes;
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section-skills{
        width: 100%;
        height: 700px;
        display: flex;
        background-color: #161616;
    
    
    
    
        .skills{
            display: flex;
            justify-content: flex-start;
    
    
            .number{
                h1{
                    font-family: 'Roboto Mono', monospace;
                    color:#4BFFA5 ;
                }
            }
            .text{
                width: 100%;
                margin-left: 110px;
                
                
                
                h1{
                    color: #fff;
                    font-family: 'Roboto Mono', monospace;
                }
    
                span{
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 30px;
    
    
                    .icon{
                        width: 1rem;
                        color: #4BFFA5;
                        margin-top: 60px;
                    }
                    p{
                        width: 71%;
                        margin-top: 55px;
                        margin-left: 17px;
                        color: #989898;                   
                        font-family: 'Space Grotesk', sans-serif;
                        line-height: 1;
                        
                        .main-text{
                           color: #fff;
                           font-size: 15px;
                           font-family: 'Space Grotesk', sans-serif;
                           line-height: 1.6;
                        }
                        .sentence{
                           width: 139%;
                        }                          
                    }
                }
                .bar{
                    display: flex;
                    margin-top: 20px;
    
                    .barname{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 140px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #237747;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 14px;
                        color: #fff;
                    }
    
                    .percentage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 35px;
                        display: flex;
                        overflow: hidden;
                        line-height: 0;
                        font-size: .75rem;
                        background-color: #e9ecef;
    
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 13px;
                        color: #676767;
                    }
                    .progress{
                        width: 65%;
                        height: 35px;
                        border-radius: 0rem;
    
                        .progress-bar{
                            background-color: #43D77E;
                            animation: 0.3s linear infinite progress-bar-stripes;
                        }
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


